.delete{
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.update{
    color: green;
    font-size: 20px;
    cursor: pointer;
}
.input{
    border-style: none;
    border-bottom: solid #B8B8B8 1px;
  
    
}
input:focus {
    outline: none;
    border-bottom: solid 2px;
    border-color: #909090;
    transition: 0.2s linear;
    box-shadow: none;
    
  }
  input:hover {
    outline: none;
    border-bottom: solid 1px;
    border-color: #909090;
    transition: 0.1s linear;
    box-shadow: none;
  }